@mixin btn-base {
   padding: 1.4rem 2.5rem;
   border-radius: 0.25rem;
   font-size: 1.1rem;
   font-weight: 700;
}

@mixin btn-sm-modify {
   padding: 0.4rem 0.9rem;
   font-size: 1.1rem;
   font-weight: 600;
}

@mixin section-display {
   max-width: 1024px;
   margin: auto;
   padding: 3rem;
}
